/EED/node_modules/
/EED/build_output.txt
/EED/build-log.txt
/EED/.vite/
/EED/dist/
/EED/.cache/
/EED/backend/public/app/assets/*.jpg
/EED/backend/public/app/assets/*.png
/EED/backend/public/app/assets/*.webp
/EED/backend/public/app/assets/*.gif
/.idea/
/.vscode/
/.DS_Store
